
.skills__container{
  text-align: center;
  --first-color: #4070F4;
  --second-color: #0E2431;
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
  margin-top: -50px;
}
.skills__subtitle{
  margin-bottom: var(--mb-2);
}
.skills__text{
  margin-bottom: var(--mb-4);
}
.skills__data{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: .5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: .5rem;
  box-shadow: 0 4px 25px rgba(14,36,49,.15);
}
.skills__icon{
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills__names{
  display: flex;
  align-items: center;
}
.skills__bar{
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: .25rem;
  border-radius: .5rem;
  z-index: var(--z-back);
}
.skills__design{
  width: 99%;
}
.skills__dev{
  width: 99%;
}
.skills__seo{
  width: 98%;
}
.skills__video{
  width: 95%;
}
.skills__img{
  border-radius: .5rem;
}

@media screen and (min-width: 768px){

  .skills__container{
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    text-align: initial;
  }
}

@media screen and (min-width: 1280px){
  .skills__img{
    width: 400px;
    height: 400px;
    margin-left: 200px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .skills__img{
    width: 350px;
    height: 350px;
    margin-left: 80px;
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .skills__img{
    width: 200px;
    height: 200px;
    margin-top: 10px;
    margin-left: -10px;
  }
}